<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <queries>
        <intent>
            <!-- Allow TTS usage on A11+-->
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <service
            android:name=".TTSNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service
            android:name=".DownloadNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="Read with QuickNovel">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.reddit.com"
                    android:pathPrefix="/r/"
                    android:scheme="https" />

                <data
                    android:host="allnovel.org"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="annas-archive.org"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="bestlightnovel.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="freewebnovel.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="graycity.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="hiraethtranslation.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="indowebnovel.id"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="kolnovel.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="libread.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="meionovels.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="risenovel.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.mtlnovels.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="novelbin.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="novelfull.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="novelsonline.org"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="pawread.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="readfrom.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="readnovelfull.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.royalroad.com"
                    android:pathPrefix="/fiction"
                    android:scheme="https" />
                <data
                    android:host="sakuranovel.id"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.scribblehub.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="wtr-lab.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReadActivity2"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>
</manifest>
