<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <queries>
        <intent>
            <!-- Allow TTS usage on A11+-->
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
            android:usesCleartextTraffic="true"
            android:enableOnBackInvokedCallback="true"
            android:name=".BaseApplication"
            android:requestLegacyExternalStorage="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">


        <service
                android:name=".TTSNotificationService"
                android:enabled="true"
                android:foregroundServiceType="mediaPlayback"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service
                android:name=".DownloadNotificationService"
                android:enabled="true"
                android:foregroundServiceType="dataSync"
                android:exported="false" />

        <receiver
                android:name="androidx.media.session.MediaButtonReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="Read with QuickNovel">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                        android:scheme="https"
                        android:host="www.reddit.com"
                        android:pathPrefix="/r/" />

                <data
                        android:scheme="https"
                        android:host="allnovel.org"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="annas-archive.org"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="bestlightnovel.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="freewebnovel.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="graycity.net"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="hiraethtranslation.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="indowebnovel.id"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="kolnovel.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="libread.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="meionovels.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="risenovel.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="www.mtlnovels.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="novelbin.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="novelfull.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="novelsonline.org"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="pawread.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="readfrom.net"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="readnovelfull.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="www.royalroad.com"
                        android:pathPrefix="/fiction" />
                <data
                        android:scheme="https"
                        android:host="sakuranovel.id"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="www.scribblehub.com"
                        android:pathPrefix="/" />
                <data
                        android:scheme="https"
                        android:host="wtr-lab.com"
                        android:pathPrefix="/" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ReadActivity2"
                android:exported="true"
                android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
